.btn {
    box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
  }
  
  .btn-primary {
    background-color: #e6a756;
    border-color: #e6a756;
  }
  
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #df902a;
    border-color: #df902a;
  }